@charset "utf-8";


.fl_left {float:left;}
.fl_right {float:right;}

.clear::after{display:table; content:"";}

a {
	text-decoration: none;
	color: #FF866C;
}


body {
	margin: 0;
	padding: 0;
}

.kozepre {
	margin: auto;
	max-width: 900px;
	
}

#topbar{
	font-size:.8rem; 
	text-transform: uppercase;
	padding: 15px;
	clear: both;
}

#topbar::after {
	clear: both;
}

#topbar ul li{
	display:inline-block;
	margin-right: 20px;
}

#topbar ul li i{
	margin-right: 5px;
}


nav a {
	color: black;
}

nav a:hover, nav a.active{
	color: #4EA9F9;
}

nav ul{
	margin:0; 
	padding:0; 
	list-style:none;
	text-transform:uppercase; 
	text-align:center;
}

nav ul li {
	display: inline-block;
	margin:0 30px 0 0;
}

nav li {
	position: relative;
	z-index: 999;
}

nav ul ul{
	visibility:hidden; 
}

nav ul li:hover > ul{
	visibility:visible;
}

nav ul ul{
	position: absolute;
	width:160px; 
	text-align:left;
}

nav ul ul ul{
	left:160px;
	top: 0;
}

nav li a{
	display:block; 
	padding:20px;
}

nav li li a {
	color: blue; 
	background-color: black;
}

nav li li:hover > a {
	color:#FFFFFF; 
	background-color:#4EA9F9;
}

nav li li {
	width: 100%;
}


.content {
	color: #797979;

	margin: 30px 0;
}

.content ul {
	padding: 0;
}

.one_quarter {
	display: inline-block;
	width: 23%;
	text-align: justify;
	margin-right: 10px;
	
}

.one_quarter img{
	width: 80%;
	border-radius: 50%;
	display: block;
    margin: 0 auto;
	opacity: 0.5;
}

.container  img {
	opacity: 0.5;
}

section {
	max-width: 900px;
	margin: auto;
}

.box {
	display: flex;
	flex-flow: row wrap;
	
}


.box > div {
	margin: 10px;
	max-width: 10%;
}




.row1 {
	text-align: center;
	line-height: 1;
	padding: 30px;
	position: relative;
	color: white;
	background-color: #4EA9F9;
}

.row1a {
	text-align: left;
	line-height: 1;
	padding: 5px;
	position: relative;
	color: white;
	background-color: #4EA9F9;
}


.row1 h1 {
	text-transform: uppercase;
	letter-spacing:5px;
	margin: 0;
	
}

.row1 p{
	text-transform: lowercase;
	font-style: italic;
	margin: 0;
	
}

.row0, .row2 {
	background-color: #E6E6E6;
	color: #797979;
	
}

.row4 , .row5{
	background-color: #27292C;
	color: #8A8A8A;
	background-color: #4EA9F9;
}

.row4 h3 {
	color: white;
	
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


